button {
  min-width: 200px;
  height: 10vh;
  font-family: Roboto, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: blue;
  color: white;
}

.boton-contador {
  color: white;
}

.boton-reiniciar {
  background-color: rgb(200, 200, 248);
}
